{% extends 'base.html' %}
{% block content %}
<table border="1">
<tr>
<td><b>City</b></td> 
<td><b>Temperature</b></td>
<td><b>Description</b></td>
<td><b>Humidity</b></td>
<tr>
	<td>{{ weather_one.city }}, {{ weather_one.country }}</td>
    <td>{{ weather_one.temp }}</td>
    <td>{{ weather_one.description }}</td>
    <td>{{ weather_one.humidity }}</td>
</tr>
<tr>
<td>{{ weather_two.city }}, {{ weather_two.country }}</td>
    <td>{{ weather_two.temp }}</td>
    <td>{{ weather_two.description }}</td>
    <td>{{ weather_two.humidity }}</td>
</tr>
</table>
{% endblock %}
