{% extends 'base.html' %}
{% block content %}
<table>
<tr>
<th>City</th> 
<th>Temperature</th>
<th>Description</th>
<th>Humidity</th>
<tr>
	<td>{{ weather_one.city }}, {{ weather_one.country }}</td>
    <td>{{ weather_one.temp }}</td>
    <td>{{ weather_one.description }}</td>
    <td>{{ weather_one.humidity }}</td>
</tr>
<tr>
<td>{{ weather_two.city }}, {{ weather_two.country }}</td>
    <td>{{ weather_two.temp }}</td>
    <td>{{ weather_two.description }}</td>
    <td>{{ weather_two.humidity }}</td>
</tr>
</table>
{% endblock %}
